<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        body{
          margin-bottom:60px;
        }
        body > .container{
          padding:60px 15px 0;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Board</h1>
    </div>
    <div class="pull-right" style="width:100px;">
        <a href="/author/login" class="btn btn-primary btn-block">로그인</a>
    </div>
    <div class="pull-right" style="width:100px;">
        <a href="/author/createform" class="btn btn-primary btn-block">회원가입</a>
    </div>
    <br/><br/><br/>

    <div id="mainHide">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-md-1">id</th>
                    <th class="col-md-2">이름</th>
                    <th class="col-md-3">email</th>
                    <th class="col-md-4">password</th>
                    <th class="col-md-5">role</th>
                    <th class="col-md-6">createDate</th>
                    <th class="col-md-7">작성글수</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${details.id}"></td>
                    <td th:text="${details.name}"></td>
                    <td th:text="${details.email}"></td>
                    <td th:text="${details.password}"></td>
                    <td th:text="${details.role}"></td>
                    <td th:text="${details.createDate}"></td>
<!--                    <td th:text="${details.count}"></td>-->
                    <td th:text="${#lists.size(details.posts)}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>