<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        body{
          margin-bottom:60px;
        }
        body > .container{
          padding:60px 15px 0;
        }
  </style>
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1>Board</h1>
    </div>
    <div class="pull-right" style="width:100px;">
      <a href="/post/list" class="btn btn-primary btn-block">게시판</a>
    </div>
    <div class="pull-right" style="width:100px;">
      <a href="/author/list" class="btn btn-primary btn-block">회원관리</a>
    </div>
  </div>

</body>
</html>
